/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/index.css ***!
  \*********************************************************************/
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color : #fff;
}

header {
  width: -webkit-fill-available;
  height: 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 1rem;
  font-size: 2rem;
  background-color: #000;
}

.coffee-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.coffee-wrapper > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-button {
  width: -webkit-fill-available;
  position: absolute;
  bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buckets-wrapper {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .buckets-wrapper {
    width: 100%;
    height: 1800px;
  }
}

.buckets-wrapper > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: -webkit-fill-available;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: #000;
}

